.hero{
    margin-bottom: 30px;
    position: relative;
    padding: 60px 0;
    color: $white;
    background-size: cover;
    height: calc(60vw - 72px);
    max-height: 1080px;
    min-height: 750px;

    .autoContainer{
        height: 100%;
    }

    &__inner{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        gap: 20px;

        h1{max-width: 970px;
            text-transform: uppercase;
        }
        p{
            max-width: 676px;
        }

        .buttons{
            margin-top: 30px;
            display: flex;
            gap: 20px;
        }
    }
}

//max-width: 940px
@mixin hero-md{
    .hero{
        margin-bottom: 0px;
        
        &__inner{
            gap: 15px;

            .buttons{
                margin-top: 20px;
                gap: 15px;
            }
        }
    }
  }

//max-width: 768px
@mixin hero-xxmd{
    .hero{
        &__inner{
            gap: 10px;

            .buttons{
                margin-top: 15px;
                gap: 10px;
            }
        }
    }
  }