.autoContainer{
    max-width: 1666px;
    margin: 0 auto;
    padding: 0 60px;
    box-sizing: content-box;
}

.logo {
    padding: 0;
    display: flex;
    font-size: 1rem;
    width: 11.45em;
    height: 3.295em;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.burger{
    cursor: pointer;
    display: block;
    position: relative;
    font-size: 10px;
    width: 2.6em;
    height: 2em;
    color: $orange;
    background-color: transparent;
    transition: 0.2s ease;

    span, &::after, &::before{
        position: absolute;
        left: 50%;
        width: 100%;
        height: 0.32em;
        background-color: currentColor;
        border-radius: 0.4em;
        transition: all 0.3s ease;
    }

    &::before{
        content: "";
        top: 0;
        transform: translateX(-50%);
    }

    &::after{
        content: "";
        bottom: 0;
        transform: translateX(-50%);
    }

    &:hover{
        opacity: 0.8;
    }
}

.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 1.55em 1.1em;
    border: 1px solid $orange;
    font-family: "Poppins", sans-serif;
    color: $orange;
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: normal;
    text-transform: uppercase;
    transition: all .3s ease;
    width: fit-content;

    &--primary {
        background-color: $white;
        border-color: $orange;
        color: $orange;

        &:hover {
            color: $white;
            background: $orange;
        }
    }

    &--icon {
        position: relative;
        width: 1.9em;
        height: 1.9em;
        padding: unset;
        border-radius: 50%;
        background-color: $orange;
        font-size: 1em;
        border: none;

        .icon {
            width: 100%;
            height: 100%;
        }

        &:hover {
            opacity: .7;
            transform: scale(1);
        }

        &:active {
            opacity: 0.3;
        }
    }
}