/*** 

====================================================================
	Reset
====================================================================

***/
:root{
  height: 100%;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  font-size: 20px;
}
* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 20px;
}
button {
  cursor: pointer;
  outline: none;
  background: transparent;

  &:focus{
    outline: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}
/*** 
  ====================================================================
      Global Settings
  ====================================================================
   ***/
body {
  height: 100%;
  cursor: default;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: $black;
  font-weight: 600;
  background: $white;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;

  &.active{
    overflow: hidden;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img, svg{
  pointer-events: none;
}

