@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@400;500&display=swap');


h1{
  font-size: 3.6em;
  line-height: 1.54;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.54;
}
h2{
  font-size: 3em;

  span{
    font-size: 1.15rem;
    opacity: 0.5;
    text-transform: uppercase;
  }
}
h3{
  font-size: 2.2em;
  line-height: 1.54;
}
h4{
  font-size: 2.5em;
}
h5{
  font-size: 1.3em;

  &._lg{
    font-size: 1.45em;
  }

  span{
    font-size: 0.85em;
    line-height: 1.82;
    font-weight: 500;
  }
}
h6{
  font-size: 1em;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  
}
p{
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.95;

  &._sm{
    font-size: 0.905em;
    line-height: 1.71;
  }
}

//max-width: 1720px
@mixin typography-xxxl{
  h1{
    font-size: 3.2em;
    line-height: 1.2;
  }

  h3{
    font-size: 2em;
    line-height: 1.2;
  }
}

//max-width: 1280px
@mixin typography-lg{
  h1{
    font-size: 3em;
    line-height: 1;
  }

  h3{
    font-size: 1.8em;
    line-height: 1;
  }
}

//max-width: 940px
@mixin typography-md{
  h1{
    font-size: 2.8em;
  }
}

//max-width: 680px
@mixin typography-s{
  h1{
    font-size: 2.2em;
  }
}